<h1> Welcome to the Rails back-end to the random-superhero application!</h1>

<p>
  all of this will go away when I connect this to the React front-end
</p>

<h1><%= "#{@hero.name} #{@hero.description}" %> </h1>
